<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <div class="bs-component">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/img/logo.svg" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                    MyTours
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/create-trips">Angebote</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about">Impressum</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Suchen">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Suchen</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <img src="assets/img/caribbean.jpg" class="img-fluid" alt="travel image">

    <div class="row">
        <div class="page-header">
            <h1 id="typography">Willkommen bei MyTours!</h1>
        </div>
    </div>

    <div class="row">
        <h4>Wer sind wir?</h4>
        <p>MyTours ist ein Reiseunternehmen aus Deutschland mit Ausflugszielen rund um den Globus. Unsere Philosophie
            ist es Ihnen unvergessliche Reiseerlebnisse zu den schönsten Orten der Welt zu ermöglichen. Bereits tausende
            Kunden schätzen die Angebote von MyTours. Vielleicht bald auch Sie?
            Packen Sie Ihre Sachen und erkunden Sie die Welt von MyTours.</p>
    </div>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Angebote</h5>
                        <p class="card-text">Sie möchten mehr über unsere Angebote und Preise erfahren? Hier entlang.
                        </p>
                        <a routerLink="/create-trips" class="btn btn-primary">Mehr erfahren</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Impressum</h5>
                    <p class="card-text">Sie möchten mehr Details über unser Unternehmen erfahren?</p>
                    <a routerLink="/about" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="Tooltip on bottom">Mehr erfahren</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 2rem;">
        <h4>Angebot des Tages</h4>
    </div>

    <div class="row" style="margin-top: 1rem;">
        <div class="mb-3">
            <div class="card">
                <div class="card-image">
                    <img src="assets/img/cruise.jpg" class="card-img-top" alt="Photo of a cruise ship">
                </div>
                <div class="card-body">
                    <h5 class="card-title">MSC Splendida Kreuzfahrt</h5>
                    <p class="card-text">Das Angebot des Tages ist eine Kreuzfahrt vom Mittelmeer über den Ärmelkanal
                        zur Nordsee. Die Reise dauert 5 Tage und kostet für 2 Personen nur 1200,00€.</p>
                    <p class="card-text"><small class="text-muted">Noch gültig: 13
                            Stunden</small></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a routerLink="/create-trips" class="nav-link px-2 text-muted">Preise</a></li>
            <li class="nav-item"><a routerLink="/about" class="nav-link px-2 text-muted">Impressum</a></li>
        </ul>
        <p class="text-center text-muted">© 2023 MyTours AG</p>
    </footer>
</body>

</html>